{
  "presets": [
    "@babel/preset-env" // Allow us to use the latest feature of javascript
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties" // Allow us to use class properties
  ]
}